
 .icon{
     color:purple; 
 }
 
.jumbotron{
    color: purple;
    background-color: transparent;
}
 
 body{
     margin: 0 auto;
     min-height: 100vh;
     /* background-image: linear-gradient(rgb(10, 10, 10), rgb(102, 100, 98)); */
     background-color: black;
     text-align: center;
     transition: linear .25s;

 }
 
