#resume {
  color: orchid;
}

#github {
  color: rgb(10, 161, 10);
}

#linkedin {
  color: mediumblue;
}

.jumbotron {
  color: black;
  background-color: transparent;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: gainsboro;
  text-align: center;
  transition: linear 0.25s;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
